*{
    margin:0px;
    padding: 0px;
}
#banar{
    position: fixed;
    background-color:black;
    border: 2px solid whitesmoke;
    width: 100% ;
    height: 130px;
    z-index:99;
   
    
}
#nav{
   top: 120px; 
   position: fixed;
   width: 100%;
   z-index: 9;
  
  
}
#logo1{
   
    margin-top: 10px;
    margin-left: 15px;
    background-image: url("../image/imagesere.jpg");
    width:90px;
    height: 70px;
    border-radius: 30px;
    
}
#logo{
    color:white;
}
#menu{
    background-color:black;
   display: block;
   
}
ul#menu a{
    width:150px;
    text-align: center;
}
#btn{
    width:150px;
    text-decoration: none;
}
#maincontainer{
    
     width: auto;
    margin-top: 172px;
    background-color: gray;
    
    
}


#sidemenu{
    background-color: silver ;
    border: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    
    
}
#mainbody{
    border: 2px solid whitesmoke;
    border-radius:1px; 
    height: !important;
    background-color: whitesmoke ;
  
    
}
#left-margin{
   border-right:1px solid red;
   background-color: whitesmoke;
   
}
#left-col{
   
}
#right-margin{
   border-left:1px solid red;
    background-color: whitesmoke;
    
}
#right-col{
    
}



#article_title{
    font-weight: bold;
   
    
}
#candidate_info{
   background-color: whitesmoke;
   border: 1px solid white;
}
#article{
    text-align: justify;
}
#table{
    background-color: lightgrey;
    border:1px solid gray;
}
#table1{
    background-color: lightgrey;
    font-weight: bold;
    color:green;
}
#side_button:hover {
   
    background-color: darkgray;
   
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    width:290px;
}

#title{
    margin: 30px;
    
}
#side_button {
    width:250px;
    
}

    
#side_button:hover a {
   color:white;
   text-decoration: none;
   
   }
#footer-text{
    text-align:center;
    background-color: black;
}
#candidate_name{
    
}